<span style="font-size:18px;">
<h1>Welcome#index</h1>
<p>Index Page!</p>
Perpage:<%= @per_page%></br>
Page:<%= @page%></br>
Nexe Page:<%= @next_page %></br>
Request request_count: <%= @request_count %></br>
Request query_string:<%= request.query_string %></br>
Request remoteIp:<%= request.remote_ip %></br>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>http://www.openwrtdl.com:3000/?page=3&per_page=10</p>
<hr/>
<p>Hola! It's <%= Time.now %></p>
<p><%= link_to 'Say!', welcome_say_path %></p>
<hr/>
<hr/>  
<%= params.inspect %></span>
